* {
  margin: 0;
  padding: 0;

  background-color: #fff;
}
.btn {
  position: absolute;
  top: 45%;
  left: 40%;
  width: 300px;
  max-height: 800px;
  border-radius: 50px;
}
#clickMeBtn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clickMeBtn:hover {
  background-color: #a7ecee;
  color: #99a98f;
}

#message {
  text-align: center;
  margin-top: 10px;
}
